# ATS Tracker Resume Reader

In [1]:
import os
import pandas as pd
from tqdm.notebook import tqdm
from PyPDF2 import PdfReader

## Read Resumes

In [2]:
resumes_uri="../data/master_data/resumes/v1.0/"
resumes_as_csv="../data/processed_data/resumes.csv"

In [3]:
def read_pdf(pdf_path:str)->str:
    """reads pdf and return them as a string"""
    reader=PdfReader(pdf_path)
    txt=""
    for page in reader.pages:
        txt+="\n"+page.extract_text()        
    return txt

In [4]:
resumes=[]
for (root, dirs, files) in tqdm(os.walk(resumes_uri)):
    for f in files:
        if ".pdf" in f:         
            resume_domain=os.path.basename(os.path.normpath(root))
            resume_id=f.replace(".pdf", "")
            resume_uri=os.path.join(root, f)            
            resume=read_pdf(resume_uri)
            
            resumes.append([resume_id, resume_domain, resume_uri, resume])

print("resume size: ", len(resumes))

0it [00:00, ?it/s]

resume size:  2484

In [5]:
df_resumes=pd.DataFrame(resumes, columns=["resume_id", "resume_domain", "resume_uri", "resume"])
df_resumes.head()

,resume_id,resume_domain,resume_uri,resume
0,10554236,ACCOUNTANT,../data/master_data/resumes/v1.0/ACCOUNTANT/10...,\nACCOUNTANT\nSummary\nFinancial Accountant sp...
1,10674770,ACCOUNTANT,../data/master_data/resumes/v1.0/ACCOUNTANT/10...,\nSTAFF ACCOUNTANT\nSummary\nHighly analytical...
2,11163645,ACCOUNTANT,../data/master_data/resumes/v1.0/ACCOUNTANT/11...,\nACCOUNTANT\nProfessional Summary\nTo obtain ...
3,11759079,ACCOUNTANT,../data/master_data/resumes/v1.0/ACCOUNTANT/11...,\nSENIOR ACCOUNTANT\nExperience\nCompany Name\...
4,12065211,ACCOUNTANT,../data/master_data/resumes/v1.0/ACCOUNTANT/12...,\nSENIOR ACCOUNTANT\nProfessional Summary\nSen...

In [ ]:
df_resumes.to_csv(resumes_as_csv, index=False)